/* HTML Elements */

@font-face {
    font-family: Spacemono;
    src: url(../fonts/SpaceMono-Regular.woff2);
}

body {
    font-family: Spacemono;
}

/* Conditional Elements */

@media (max-width: 948px) {

    .navbar-link {
        display: none;
    }

    .rightbox {
        max-width: 70px;
    }

    .leftbox {
        flex: 1;
    }

}

/* NavBar Elements */

.allbox{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.leftbox {
    width: 200px;
    height: 60px;
    margin: 10px 10px 0 10px;
    background-color: grey;
    border-radius: 25px;
    color: white;
}

.navbar-name {
    color: white;
}

.rightbox {
    flex: 1; /* fills remaining space */
    margin: 10px 10px 0 0;
    border-radius: 25px;
    display: flex;
    background-color: darkgray;
}

.navbar-name {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.navigation-links-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-link-item {
    display: flex;
}

.navbar-link {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

.active {
    color: grey;
    text-decoration: none;
}


/* Main Content Elements */

.boundary-element {

}

.main-element {

}
