@font-face {
    font-family: "JetBrainsMono";
    src: url("/src/font/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --bs-body-font-family: "JetBrainsMono", sans-serif;
  --bs-font-sans-serif: "JetBrainsMono", sans-serif;
  --glass-background: rgba(45, 147, 206, 0.7);
}

html, body {
  margin: 0;
  min-height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: "JetBrainsMono", monospace !important;
  background: #ffffff;
}

main {
  flex: 1;
}

.custom-navbar {
  margin: 15px;
  padding: 10px 15px;

  background: var(--glass-background);
  border: 2px solid rgba(45, 147, 206, 0.8);
  border-radius: 16px;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.custom-footer {
  margin: 20px;

  padding: 15px 20px;

  background: var(--glass-background);

  border: 2px solid rgba(45, 147, 206, 0.8);
  border-radius: 18px;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.custom-card {
  max-width: 80%;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  background: rgba(45, 147, 206, 0.5) !important;
  border: 2px solid rgba(45, 147, 206, 0.8) !important;
  border-radius: 18px;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.custom-card-dashboard {

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  background: rgba(45, 147, 206, 0.5) !important;
  border: 2px solid rgba(45, 147, 206, 0.8) !important;
  border-radius: 18px;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.star-background {
  position: fixed;
  inset: 0;

  width: 100%;
  height: 100%;

  z-index: -1;
  pointer-events: none;
}

.go-back-button {
  border: none;
  background: none;
  float: right;
  color: grey;
}

.custom-card-dashboard .card-header {
  background: rgba(20, 90, 130, 0.6);
}

th {
  background: rgba(45, 147, 206, 0.5) !important;
}

td {
  background: rgba(45, 147, 206, 0.2) !important;
}