@font-face {
    font-family: "JetBrainsMono";
    src: url("/font/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --bs-body-font-family: "JetBrainsMono", sans-serif;
  --bs-font-sans-serif: "JetBrainsMono", sans-serif;
  --glass-background: rgba(45, 147, 206, 0.7);
  --glass-border: rgba(255, 255, 255, 0.1);
}

body {
  font-family: "JetBrainsMono", monospace !important;
  background: #ffffff;
}

.custom-navbar {
  margin: 15px;
  padding: 10px 15px;

  background: var(--glass-background);
  border: 1px solid var(--glass-border);
  border-radius: 16px;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.1);

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.custom-footer {
  position: fixed;

  left: 20px;
  right: 20px;
  bottom: 20px;

  margin: 0 auto;

  padding: 15px 20px;

  background: var(--glass-background);
  border: 1px solid var(--glass-border);
  border-radius: 18px;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);

  z-index: 1000;
}

.custom-card {
  max-width: 70%;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  background: rgba(45, 147, 206, 0.5) !important;
  border: 1px solid var(--glass-border) !important;
  border-radius: 18px;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.star-background {
  position: fixed;
  inset: 0;

  width: 100%;
  height: 100%;

  z-index: -1;
  pointer-events: none;
}

.go-back-button {
  border: none;
  background: none;
  float: right;
  color: grey;
}